
body {
    font-family: Arial;
}

.star {
    color:#FFC300;
    grid-area:star;
}

.Name {
    font-weight:700;
    font-size:20px;
    grid-area:Name;

}

.text {
    font-size:16px;
    font-weight:400;
    grid-area:text;
    color:rgba(0, 0, 0, 0.6);
}

.date {
    font-size: 16px;
    font-weight:900;
    color:rgba(0, 0, 0, 0.6);
    grid-area:date;    
}

.write {
    color:white;
    font-weight:900;
    font-size:16px;
}
@media only screen and (min-width:1184px){
.reviews {
    margin-top:50px;
    display:grid;
    justify-content: center;
    grid-template-areas: 
    "comments comments"
    "comments comments"
    "comments comments";
    row-gap: 40px;
    column-gap: 40px;
}

.comments {
    display:grid;
    grid-template-areas: 
    "star"
    "name"
    "text"
    "date";
    width:540px;
    height: 150px;
    border:2px solid rgb(224, 224, 224);
    border-radius: 20px;
    padding:10px;
}

.comments:hover {
    transform:scale(1.1)
}

.Name {
    grid-area:name;
}

.text {
    grid-area:text;
}

.date {
    grid-area:date;
}

.allreviews {
    display:flex;
    justify-content: center;
    margin-right:20px;
}

.writeBox {
    margin-left:800px;
    border-radius:20px;
    border:0px solid rgb(0.185 0.3428 0.8969);
    background: #1F59ED;
    width:166px;
    height:48px;
}

.writeBox:hover {
    transform:scale(1.1);
}

.write {
    margin-top:10px;
    margin-left:10px;
    width:133px;
    height:23px;

}
}

@media only screen and (min-width:450px) and (max-width:1184px){
    .reviews {
        margin-top: 27px;
        display:flex;
        flex-direction: column;
        gap:23px;
    }
    .comments {
        display:flex;
        flex-direction: column;
        width:358px;
        height:169px;
        border:1px solid rgb(224, 224, 224);
        border-radius: 20px;
        padding:24px;
        gap:10px
    }

    .allreviews {
        display:flex;
        justify-content: left;
        width: 500px;
        height:27px;
        font-size:20px;
        font-weight:700
    }

    .writeBox {
        margin-top:-5px;
        margin-left:180px;
        border-radius:20px;
        border:0px solid rgb(0.185 0.3428 0.8969);
        background: #1F59ED;
        width:113px;
        height:40px;
    }

    .write {
        font-size:12px;
        font-weight: 500;
    }
}