body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .burger-menu {
    display: none;
    cursor: pointer;
    padding: 15px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: blue;
    margin: 5px 0;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    display: block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    background-color: #555;
  }
  @media only screen and (min-width: 768px) {
    .burger-check {
      position:absolute;
      top:-999px;
      left:-999px;
      display:none;
    }
  }
  /* Style pour les écrans de petite taille */
  @media only screen and (max-width: 768px) {
    .burger-menu {
      display: block;
    }
  
    #burger-checkbox {
      display:none;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    #burger-checkbox:checked + .burger-menu + .nav-links {
      display: flex;
    }
  }